<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.3" targetFramework="net461" />
  <package id="Google.Api.CommonProtos" version="1.7.0" targetFramework="net461" />
  <package id="Google.Api.Gax" version="2.9.0" targetFramework="net461" />
  <package id="Google.Api.Gax.Grpc" version="2.9.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.40.2" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.40.2" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.40.2" targetFramework="net461" />
  <package id="Google.Cloud.Language.V1" version="1.3.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net461" />
  <package id="Grpc.Auth" version="1.22.0" targetFramework="net461" />
  <package id="Grpc.Core" version="1.22.0" targetFramework="net461" />
  <package id="Grpc.Core.Api" version="1.22.0" targetFramework="net461" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net461" />
  <package id="IronPython" version="2.7.10" targetFramework="net461" />
  <package id="Microsoft.ML" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.ML.CpuMath" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.ML.DataView" version="1.0.0" targetFramework="net461" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Stanford.NLP.CoreNLP" version="3.9.2.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net461" />
</packages>